<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Created Date</th>
        <th>Dpci</th>
        <th>Department</th>
        <th>Colour</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects" ng-click="edit(project.$id())">
        <td><img src="http://technrisk.com/prop-audit/content/images/{{project.prop}}/{{project.category}}/{{project.sub_category}}/{{project.product_name}}.jpg" class="image"></td>
        <td>{{project.product_name}}</td>
        <td>{{project.publish_date}}</td>
        <td>{{project.dpci}}</td>
        <td>{{project.dept}}</td>
        <td>{{project.colour}}</td>
    </tr>
    </tbody>
</table>
<div class="well">
    <!--<button class="btn" ng-click="new()">New Project</button>-->
</div>
